/* App.css */
body{
    min-height: 100vh;
    background-color: #84c6d3; /* Cor sólida */
    /* Ou usando gradiente: */
    /* background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
    /* Ou com imagem: */
    /* background-image: url('./assets/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center; */
  }